<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-closed" md-is-locked-open="$mdMedia('gt-xs') && isOpenLeft()" md-component-id="left">
  <div id="sidenavUserInfo" layout="column">
    <div flex layout="column" layout-align="center-center" layout-margin>
      <span style="background-image: url(http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png);" layout></span>
      <p>{{session.userName}}</p>
    </div>
    <div></div>
  </div>
  <nav layout="column" flex>
<!--     <ul layout="column" flex class="layoutMenu">
      <li ng-repeat="(k,v) in menu" layout="column" layout-align="center center">
        <div layout="row" ng-show="v.href" layout-align="center center">
          <md-icon md-svg-icon="{{v.icon}}" aria-label="Alarm Icon"></md-icon>
          <md-button ng-href="{{v.href}}" ng-click="open = !open" flex>
            {{v.name}}
          </md-button>
        </div>
        <div layout="row" ng-show="!v.href" layout-align="center center">
          <md-icon md-svg-icon="{{v.icon}}" aria-label="Alarm Icon"></md-icon>
          <md-button ng-click="open = !open" flex>
            {{v.name}}
          </md-button>
          <div ng-class="{'arrowDown': open, 'arrowUp' : !open}"></div>
        </div>
        <ul ng-show="v.views && open">
            <li ng-repeat="(kk,vv) in v.views">
              <md-button cn-navigate="{{vv.uri}}">
                {{vv.name}}
              </md-button>
              <md-button ng-show="v.href" ng-href="{{v.href}}" ng-click="open = !open">
                {{v.name}}
              </md-button>
            </li>
          </ul>
      </li>
    </ul> -->
  </nav>
  </md-sidenav>
<md-content role="main" layout="column" flex>
  <md-toolbar class="masthead md-hue-2">
    <div layout="row" layout-align="space-between center">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
        <md-icon md-svg-icon="menu" aria-label="Alarm Icon"></md-icon>
      </md-button>
      <!-- <h1 class="md-body-2" layout-margin>UN POCO LO CAMBIA TODO</h1> -->
      <md-input-container layout-align="center center">
        <label>Buscar</label>
        <input type="search" ng-model="something">
      </md-input-container>
    </div>
    <div>
      <!-- <p>{{data | json}}</p> -->
    </div>

  </md-toolbar>

  <section role="insideView" layout layout="column" ng-class="route" flex ui-view></section>

</md-content>
